:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark light;
    /*color: rgba(255, 255, 255, 0.87);*/
    color: var(--White);
    background-color: var(--Very-Dark-Blue);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Colors */

    /* Primary */
    --Orange: hsl(25, 97%, 53%);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);

    /* Fonts */
    --fs-base: .9375rem;
}

@font-face {
    font-family: 'Overpass';
    src:
        url('../src/assets/fonts/Overpass-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Overpass';
    src:
        url('../src/assets/fonts/Overpass-Bold.woff') format('woff');
    font-weight: 700;
}

body {
    margin: 0;
    min-height: 100dvh;
    font-family: 'Overpass';
    font-size: var(--fs-base);
}

#app {
    margin-inline: auto;
    height: 100dvh;
    width: min(100% - 2rem, 90rem);

    display: grid;
    place-content: center;
}

h1 {
    line-height: 1.1;
    font-weight: 700;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.card {
    padding: 1.7rem;
    max-width: 19.4rem;
    background-color: var(--Dark-Blue);
    border-radius: 1.6rem;
}